*{
    margin: 0;
    padding: 0;
}


body{
    background-color:white;
}

.grids{
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 20%;
}

div {
    background-color:white;
}

.grid-header{
    background-color: #8B728E;
    text-decoration: none;
    color: white;
    grid-column: 1 / span 5;
    display: inline;
    text-align: right;
    padding: 0.8em;
    padding-top: 1em;
    word-spacing: 0.1em;
    font-weight: bold;
}

.grid-title{
    color: black;
    text-align: center;
    grid-column: 1 / span 5;
    font-size: 0.7em;
    margin-bottom: 5em;
}


.grid-content {
    list-style-type: none;
    grid-column: 1/ span 5;
    padding: 0.5em;
}

.submit {
    display: block;
    text-align: center;
}


.food, .play, .cafe{
    background-color: white;
    padding-top:1em;
    padding-bottom:1em;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    box-shadow: 0px 0px 10px #8B728E;
    margin:1em;
    display: inline-block;
    font-size: 1.2em;
}

.food{
    margin-left:7em;
}


.icon {
    float: center;
}

.content{
    background-color:#F1F1F1;
    padding: 1em;
    margin: 1em 1em;
    text-align: left;
    vertical-align: middle;
    line-height: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.7em;
    line-height: 1.5em;
}

.name{
    font-size: 1.5em;
    color: #8B728E;
}

.button{
    background-color: white;
    padding: 0.8em;
    margin-top: 0.5em;
    text-align: center;
    display: inline-block;
    color: #8B728E;
    border-radius: 0.5em;
}

.b{
    text-decoration: none;
}

.grid-footer {
    background-color: black;
    list-style-type: none;
    color:white;
    text-align: center;
    grid-column: 1 / span 5;
    padding: 0.8em;
    padding-top: 1em;
    font-size: 0.9em;
}


