<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/outside.css" type="text/css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outside</title>

    <script type='text/javascript'>
        var bDisplay = true;
        function doDisplay(){
            var con=document.getElementById("myDIV");
            if(con.style.display=='none'){
                con.style.display = 'block';
            }else {
                con.style.display = 'none';
            }
        }
    </script>
 
    <!--카카오맵-->
    <style>
        @font-face { font-family: 'NIXGONL-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }

        h2,select,label {font-family: 'NIXGONL-Vb';}
        .navbar{
            background-color : #B3A7AD;
        }
        .map_wrap {position:relative;width:100%;height:350px;}
        .title {font-weight:bold;display:block;}
        .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#E2DAEC;z-index:1;padding:5px;}
        #centerAddr {display:block;margin-top:2px;font-weight: normal;}
        .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}


        body{
            background-color: #E2DAEC;
        }
    </style>
</head>
<body>
<!--header-->
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">  
     <a class="navbar-brand" href="../">Koala</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../inside">Inside <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../outside">Outside <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    </nav>
    </header>
        
        <br>
        <div>    

        <!--코스 선택 폼-->
    
        <h2 class="w3-container w3-center" style="padding-top: 100px;">코스 선택</h2>
        <br>
        <form action="outside.html" class="w3-container w3-center">
            
            <select name = "firstcourse" class="btn btn-outline-info" required>
                  <option value = "none" selected>=== 첫번째 ===</option>
                  <option value = "eat" class = "item">먹을 곳</option>
                  <option value = "play" class = "item">놀 곳</option>
                  <option value = "drink" class = "item">마실 곳</option>
            </select>

            <select name = "secondcourse" class="btn btn-outline-info" required>
                <option value = "none" selected class = "item">=== 두번째 ===</option>
                <option value = "eat" class = "item">먹을 곳</option>
                <option value = "play" class = "item">놀 곳</option>
                <option value = "drink" class = "item">마실 곳</option>
            </select>

            <select name = "thirdcourse" class="btn btn-outline-info" required>
                <option value = "none" selected>=== 세번째 ===</option>
                <option value = "eat" class = "item">먹을 곳</option>
                <option value = "play" class = "item">놀 곳</option>
                <option value = "drink" class = "item">마실 곳</option>
            </select>

            <br><br>
            <input type = "checkbox" id = "alone" name="alone" checked>
            <label for = "alone"> 혼자 놀래 😁</label>
            <br>
            
        </form>
        </div>
        <br><br><br>

        <div class="w3-container w3-center">
            <input type="button" onclick="doDisplay();" class="btn btn-info disabled" value="다음 >>">
            
            <br>
            <div id ='myDIV' style="display: none;">
            <br>
                <div>
                    <h2 >지역 설정</h2>
                </div>
            <br>
                <div class="map_wrap" style="width: 700px; height: 400px;" >
                    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;margin-left:400px; "></div>
                    <div class="hAddr" style="background-color: #E2DAEC;">
                        <span id="centerAddr"></span>
                    </div>
                </div>
            
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f2feabaa50bda547fa9bf346b93e3003&libraries=services"></script>
            <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                    level: 1 // 지도의 확대 레벨
                };  
            
            // 지도를 생성합니다    
            var map = new kakao.maps.Map(mapContainer, mapOption); 
            
            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();
            
            var marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
                infowindow = new kakao.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다
            
            // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
            searchAddrFromCoords(map.getCenter(), displayCenterInfo);
            
         
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                        detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                        
                        var content = '<div class="bAddr">' +
                                        '<span class="title">법정동 주소정보</span>' + 
                                        detailAddr + 
                                    '</div>';
              
                        marker.setPosition(mouseEvent.latLng);
                        marker.setMap(map);
      
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    }   
                });
            });
            
            kakao.maps.event.addListener(map, 'idle', function() {
                searchAddrFromCoords(map.getCenter(), displayCenterInfo);
            });
            
            function searchAddrFromCoords(coords, callback) {

                geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
            }
            
            function searchDetailAddrFromCoords(coords, callback) {
                // 좌표로 법정동 상세 주소 정보를 요청합니다
                geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
            }
            
            // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
            function displayCenterInfo(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var infoDiv = document.getElementById('centerAddr');
            
                    for(var i = 0; i < result.length; i++) {
                        // 행정동의 region_type 값은 'H' 이므로
                        if (result[i].region_type === 'H') {
                            infoDiv.innerHTML = result[i].address_name;
                            break;
                        }
                    }
                }    
            }
            </script>
        </div>

        <br>
        <div class="map_wrap" style="width: 600px ;" class="w3-container w3-center">
            <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            <div class="hAddr">
                <span id="centerAddr" ></span>
            </div>

        </div>

        <div>
            <button onclick="location.href='../outside_detail'" class="btn btn-info disabled">다음 단계</button>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Cool stuff</a></li>
                  <li><a class="text-muted" href="#">Random feature</a></li>
                  <li><a class="text-muted" href="#">Team feature</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Another one</a></li>
                  <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
          </footer>
        
        

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>