<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>코알라</title>
        <link rel="stylesheet" href="/static/밖(5).css" type="text/css">

        <style>
            .dot {overflow:hidden;float:left;width:12px;height:12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');}    
            .dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
            .dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
            .number {font-weight:bold;color:#ee6152;}
            .dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
            .distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
            .distanceInfo .label {display:inline-block;width:50px;}
            .distanceInfo:after {content:none;}
        </style>
    </head>

    <body>
        <div class="grids">
            <!--header-->
            <div class="grid-header" >
                <a href ="홈.html" class="grid-header" >HOME</a>
                <a href="안.html" class="grid-header" >집</a>
                <a href="밖.html" class="grid-header" >야외</a>     
            </div>

            <!--로고&타이틀-->
            <div class="grid-title">
                <img class="logo" src="/static/img/logo.png" width="300" height="300"> 
                <h1 id="title"><strong>⚫ 선택한 지역: 서울특별시 서대문구 신촌동 주변 ⚫</strong></h1>
            </div>
            
            <!--코스 선택지-->
            <div class="grid-content">
                <h3>1. 각 테마별 추천 장소 중 원하는 곳을 선택해주세요!<br><br> Tip) 홈페이지, 리뷰, 길찾기 정보등을 활용해보세요. </h3> <br>
            <form action="서버주소" method="post">
                <!--맛집-->
                <div class="food">
                    <img class="icon" src="/static/img/fork.png" width="100" height="100"> 
                    <p><strong>맛집</strong></p>

                    <div class="content">
                        <input type='radio' name='food' value='1' /><span class="name"><strong>  라구식당</span> 스파게티,파스타전문</strong>
                        <li>위치: 서울 서대문구 연세로 42-24</li>
                        <li>번호: 02-364-2224</li>
                        <div class="button"><a class="b" href="http://instagram.com/ragu_pasta" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=37049500&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14130722.458364684,4517350.656181127,%EB%9D%BC%EA%B5%AC%EC%8B%9D%EB%8B%B9,37049500,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='food' value='2' /><span class="name"><strong> 정육면체</span></span> 국수</strong>
                        <li>위치: 서울 서대문구 연세로5다길 22-8</li>
                        <li>번호: 070-4179-3819</li>
                        <div class="button"><a class="b" href="http://www.instagram.com/tastycube_" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=1229208931&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14130297.422338638,4517016.545395108,%EC%A0%95%EC%9C%A1%EB%A9%B4%EC%B2%B4,1229208931,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='food' value='3' /><span class="name"><strong>  현명식탁</span> 양식</strong>
                        <li>위치: 서울 서대문구 명물길 32</li>
                        <li>번호: 02-2088-1229</li>
                        <div class="button"><a class="b" href="http://www.instagram.com/2018_yhm/" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=1649477961&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14130722.569684174,4517183.240830885,%ED%98%84%EB%AA%85%EC%8B%9D%ED%83%81,1649477961,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='food' value='4' /><span class="name"><strong>  반서울</span> 퓨전음식</strong>
                        <li>위치: 서울 서대문구 이화여대길 87</li>
                        <li>번호: 070-8882-0110</li>
                        <div class="button"><a class="b" href="http://instagram.com/bahn_seoul" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=1526042047&tab=fsasReview#_tab">블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14131289.130232569,4517320.731298108,%EB%B0%98%EC%84%9C%EC%9A%B8,1526042047,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='food' value='5'/><span class="name"><strong>  키친스별</span> 스파게티,파스타전문</strong>
                        <li>위치: 서울 서대문구 명물길 16</li>
                        <li>번호: 02-313-0905</li>
                        <div class="button"><a class="b" href="https://www.instagram.com/p/CBzuvLaH_D6/?igshid=89qs95iq8mcq" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=35957525&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14130647.117333312,4517112.003757717,%ED%82%A4%EC%B9%9C%EC%8A%A4%EB%B3%84,35957525,PLACE_POI/-/car" >길찾기</a></div>
                    </div>
                </div>

                <!--활동-->
                <div class="play">
                    <img class="icon" src="/static/img/running.png" width="100" height="100"> 
                    <p><strong>활동</strong></p>

                    <div class="content">
                        <input type='radio' name='play' value='1'/><span class="name"><strong>  레드버튼 신촌점</span> 보드카페</strong>
                        <li>위치: 서울 서대문구 연세로 8 3층</li>
                        <li>번호: 02-363-3799</li>
                        <div class="button"><a class="b" href="http://www.redbutton.co.kr/" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/attractions/detail?id=1058744939&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14130564.936039958,4516924.624885898,%EB%B3%B4%EB%93%9C%EA%B2%8C%EC%9E%84%EC%B9%B4%ED%8E%98%20%EB%A0%88%EB%93%9C%EB%B2%84%ED%8A%BC%20%EC%8B%A0%EC%B4%8C%EC%A0%90,1058744939,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='play' value='2'/><span class="name"><strong>  영랜드</span> 레포츠시설</strong>
                        <li>위치: 서울 서대문구 연세로 25-1 4층</li>
                        <li>번호: 02-363-1541</li>
                        <div class="button"><a class="b" href="https://youngland.modoo.at/" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/attractions/detail?id=51569799&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14130529.330180105,4517169.535415046,%EC%98%81%EB%9E%9C%EB%93%9C,51569799,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='play' value='3'/><span class="name"><strong>  셜록홈즈 신촌점</span> 방탈출카페</strong>
                        <li>위치: 서울 서대문구 연세로 20</li>
                        <li>번호: 02-312-8944</li>
                        <div class="button"><a class="b" href="http://sherlock-holmes.co.kr/reservation/index.php?sido=1&bno=63" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/attractions/detail?id=1253723068&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14130571.1529128,4517102.525177211,%EC%85%9C%EB%A1%9D%ED%99%88%EC%A6%88%20%EC%8B%A0%EC%B4%8C%EC%A0%90,1253723068,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='play' value='4'/><span class="name"><strong>  캡틴플스방</span> 플레이스테이션방</strong>
                        <li>위치: 서울 서대문구 명물길 6 7층</li>
                        <li>번호: 070-8800-3923</li>
                        <div class="button"><a class="b" href="https://www.instagram.com/playstation_room1/" >홈페이지</a></div>
                        <div class="button"><a class="b" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='play' value='5'/><span class="name"><strong>  토러스테라피</span> 마사지,지압</strong>
                        <li>위치: 서울 마포구 신촌로 78 B1F</li>
                        <li>번호: 02-324-7775</li>
                        <div class="button"><a class="b" href="https://www.instagram.com/p/CBzuvLaH_D6/?igshid=89qs95iq8mcq" >홈페이지</a></div>
                        <div class="button"><a class="b" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" >길찾기</a></div>
                    </div>
                </div>

                <!--카페-->
                <div class="cafe">
                    <img class="icon" src="/static/img/coffee-cup.png" width="100" height="100"> 
                    <p><strong>카페</strong></p>

                    <div class="content">
                        <input type='radio' name='cafe' value='1'/><span class="name"><strong>  만동제과</span> 베이커리카페</strong>
                        <li>위치: 서울 서대문구 연희로 32</li>
                        <li>번호: 02-6489-2334</li>
                        <div class="button"><a class="b" href="http://www.instagram.com/mandong.bread" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=1038526987&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14129481.691320304,4517670.342405215,%EB%A7%8C%EB%8F%99%EC%A0%9C%EA%B3%BC,1038526987,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='cafe' value='2'/><span class="name"><strong>  veganique</span> 베이커리카페</strong>
                        <li>위치: 서울 서대문구 이화여대길 52-35</li>
                        <li>번호: 010-4518-8290</li>
                        <div class="button"><a class="b" href="https://www.instagram.com/veganique_seoul" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=1226537306&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14131455.441551808,4517372.506595572,veganique,1226537306,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='cafe' value='3'/><span class="name"><strong>  그릭데이</span> 카페,디저트</strong>
                        <li>위치: 서울 서대문구 이화여대길 88-21</li>
                        <li>번호: 02-363-9222</li>
                        <div class="button"><a class="b" href="https://www.instagram.com/greek_day" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=37648608&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14131337.064405303,4517396.870704047,%EA%B7%B8%EB%A6%AD%EB%8D%B0%EC%9D%B4,37648608,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='cafe' value='4'/><span class="name"><strong>  내사랑</span> 카페,디저트</strong>
                        <li>위치: 서울 서대문구 이화여대2길 37</li>
                        <li>번호: 070-8248-3752</li>
                        <div class="button"><a class="b" href="http://www.instagram.com/dearmylove.seoul" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=1535681726&tab=fsasReview#_tab">블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14131785.782140736,4517105.235348243,%EB%82%B4%EC%82%AC%EB%9E%91,1535681726,PLACE_POI/-/car" >길찾기</a></div>
                    </div>

                    <div class="content">
                        <input type='radio' name='cafe' value='5'/><span class="name"><strong>  호밀밭</span> 카페</strong>
                        <li>위치: 서울 서대문구 신촌역로 43</li>
                        <li>번호: 02-392-5345</li>
                        <div class="button"><a class="b" >홈페이지</a></div>
                        <div class="button"><a class="b" href="https://store.naver.com/restaurants/detail?id=31394999&tab=fsasReview#_tab" >블로그 리뷰</a></div>
                        <div class="button"><a class="b" href="https://map.naver.com/v5/directions/-/14130949.37201472,4517306.801020425,%ED%98%B8%EB%B0%80%EB%B0%AD,31394999,PLACE_POI/-/car" >길찾기</a></div>
                    </div>
                </div>
                <div class="submit">
                    <input type='submit'>
                </div>    
            </form>
            </div>

            <!--코스 지도-->
                <div class="expl"><h3>2. 선택한 장소의 경로와 이동 거리를 알아보세요! <br><br> Tip) 지도를 마우스로 클릭하면 선 그리기가 시작되고, 오른쪽 마우스를 클릭하면 선 그리기가 종료됩니다.</h3>
                <div id="map" style="width:1000px;height:500px;"></div>
                
                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f2feabaa50bda547fa9bf346b93e3003"></script>
                <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
                    mapOption = { 
                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };
                
                var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
                
                var drawingFlag = false; // 선이 그려지고 있는 상태를 가지고 있을 변수입니다
                var moveLine; // 선이 그려지고 있을때 마우스 움직임에 따라 그려질 선 객체 입니다
                var clickLine // 마우스로 클릭한 좌표로 그려질 선 객체입니다
                var distanceOverlay; // 선의 거리정보를 표시할 커스텀오버레이 입니다
                var dots = {}; // 선이 그려지고 있을때 클릭할 때마다 클릭 지점과 거리를 표시하는 커스텀 오버레이 배열입니다.
                
                // 지도에 클릭 이벤트를 등록합니다
                // 지도를 클릭하면 선 그리기가 시작됩니다 그려진 선이 있으면 지우고 다시 그립니다
                kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                
                    // 마우스로 클릭한 위치입니다 
                    var clickPosition = mouseEvent.latLng;
                
                    // 지도 클릭이벤트가 발생했는데 선을 그리고있는 상태가 아니면
                    if (!drawingFlag) {
                
                        // 상태를 true로, 선이 그리고있는 상태로 변경합니다
                        drawingFlag = true;
                        
                        // 지도 위에 선이 표시되고 있다면 지도에서 제거합니다
                        deleteClickLine();
                        
                        // 지도 위에 커스텀오버레이가 표시되고 있다면 지도에서 제거합니다
                        deleteDistnce();
                
                        // 지도 위에 선을 그리기 위해 클릭한 지점과 해당 지점의 거리정보가 표시되고 있다면 지도에서 제거합니다
                        deleteCircleDot();
                    
                        // 클릭한 위치를 기준으로 선을 생성하고 지도위에 표시합니다
                        clickLine = new kakao.maps.Polyline({
                            map: map, // 선을 표시할 지도입니다 
                            path: [clickPosition], // 선을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다
                            strokeWeight: 3, // 선의 두께입니다 
                            strokeColor: '#db4040', // 선의 색깔입니다
                            strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'solid' // 선의 스타일입니다
                        });
                        
                        // 선이 그려지고 있을 때 마우스 움직임에 따라 선이 그려질 위치를 표시할 선을 생성합니다
                        moveLine = new kakao.maps.Polyline({
                            strokeWeight: 3, // 선의 두께입니다 
                            strokeColor: '#db4040', // 선의 색깔입니다
                            strokeOpacity: 0.5, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'solid' // 선의 스타일입니다    
                        });
                    
                        // 클릭한 지점에 대한 정보를 지도에 표시합니다
                        displayCircleDot(clickPosition, 0);
                
                            
                    } else { // 선이 그려지고 있는 상태이면
                
                        // 그려지고 있는 선의 좌표 배열을 얻어옵니다
                        var path = clickLine.getPath();
                
                        // 좌표 배열에 클릭한 위치를 추가합니다
                        path.push(clickPosition);
                        
                        // 다시 선에 좌표 배열을 설정하여 클릭 위치까지 선을 그리도록 설정합니다
                        clickLine.setPath(path);
                
                        var distance = Math.round(clickLine.getLength());
                        displayCircleDot(clickPosition, distance);
                    }
                });
                    
                // 지도에 마우스무브 이벤트를 등록합니다
                // 선을 그리고있는 상태에서 마우스무브 이벤트가 발생하면 그려질 선의 위치를 동적으로 보여주도록 합니다
                kakao.maps.event.addListener(map, 'mousemove', function (mouseEvent) {
                
                    // 지도 마우스무브 이벤트가 발생했는데 선을 그리고있는 상태이면
                    if (drawingFlag){
                        
                        // 마우스 커서의 현재 위치를 얻어옵니다 
                        var mousePosition = mouseEvent.latLng; 
                
                        // 마우스 클릭으로 그려진 선의 좌표 배열을 얻어옵니다
                        var path = clickLine.getPath();
                        
                        // 마우스 클릭으로 그려진 마지막 좌표와 마우스 커서 위치의 좌표로 선을 표시합니다
                        var movepath = [path[path.length-1], mousePosition];
                        moveLine.setPath(movepath);    
                        moveLine.setMap(map);
                        
                        var distance = Math.round(clickLine.getLength() + moveLine.getLength()), // 선의 총 거리를 계산합니다
                            content = '<div class="dotOverlay distanceInfo">총거리 <span class="number">' + distance + '</span>m</div>'; // 커스텀오버레이에 추가될 내용입니다
                        
                        // 거리정보를 지도에 표시합니다
                        showDistance(content, mousePosition);   
                    }             
                });                 
                
                // 지도에 마우스 오른쪽 클릭 이벤트를 등록합니다
                // 선을 그리고있는 상태에서 마우스 오른쪽 클릭 이벤트가 발생하면 선 그리기를 종료합니다
                kakao.maps.event.addListener(map, 'rightclick', function (mouseEvent) {
                
                    // 지도 오른쪽 클릭 이벤트가 발생했는데 선을 그리고있는 상태이면
                    if (drawingFlag) {
                        
                        // 마우스무브로 그려진 선은 지도에서 제거합니다
                        moveLine.setMap(null);
                        moveLine = null;  
                        
                        // 마우스 클릭으로 그린 선의 좌표 배열을 얻어옵니다
                        var path = clickLine.getPath();
                    
                        // 선을 구성하는 좌표의 개수가 2개 이상이면
                        if (path.length > 1) {
                
                            // 마지막 클릭 지점에 대한 거리 정보 커스텀 오버레이를 지웁니다
                            if (dots[dots.length-1].distance) {
                                dots[dots.length-1].distance.setMap(null);
                                dots[dots.length-1].distance = null;    
                            }
                
                            var distance = Math.round(clickLine.getLength()), // 선의 총 거리를 계산합니다
                                content = getTimeHTML(distance); // 커스텀오버레이에 추가될 내용입니다
                                
                            // 그려진 선의 거리정보를 지도에 표시합니다
                            showDistance(content, path[path.length-1]);  
                             
                        } else {
                
                            // 선을 구성하는 좌표의 개수가 1개 이하이면 
                            // 지도에 표시되고 있는 선과 정보들을 지도에서 제거합니다.
                            deleteClickLine();
                            deleteCircleDot(); 
                            deleteDistnce();
                
                        }
                        
                        // 상태를 false로, 그리지 않고 있는 상태로 변경합니다
                        drawingFlag = false;          
                    }  
                });    
                
                // 클릭으로 그려진 선을 지도에서 제거하는 함수입니다
                function deleteClickLine() {
                    if (clickLine) {
                        clickLine.setMap(null);    
                        clickLine = null;        
                    }
                }
                
                // 마우스 드래그로 그려지고 있는 선의 총거리 정보를 표시하거
                // 마우스 오른쪽 클릭으로 선 그리가 종료됐을 때 선의 정보를 표시하는 커스텀 오버레이를 생성하고 지도에 표시하는 함수입니다
                function showDistance(content, position) {
                    
                    if (distanceOverlay) { // 커스텀오버레이가 생성된 상태이면
                        
                        // 커스텀 오버레이의 위치와 표시할 내용을 설정합니다
                        distanceOverlay.setPosition(position);
                        distanceOverlay.setContent(content);
                        
                    } else { // 커스텀 오버레이가 생성되지 않은 상태이면
                        
                        // 커스텀 오버레이를 생성하고 지도에 표시합니다
                        distanceOverlay = new kakao.maps.CustomOverlay({
                            map: map, // 커스텀오버레이를 표시할 지도입니다
                            content: content,  // 커스텀오버레이에 표시할 내용입니다
                            position: position, // 커스텀오버레이를 표시할 위치입니다.
                            xAnchor: 0,
                            yAnchor: 0,
                            zIndex: 3  
                        });      
                    }
                }
                
                // 그려지고 있는 선의 총거리 정보와 
                // 선 그리가 종료됐을 때 선의 정보를 표시하는 커스텀 오버레이를 삭제하는 함수입니다
                function deleteDistnce () {
                    if (distanceOverlay) {
                        distanceOverlay.setMap(null);
                        distanceOverlay = null;
                    }
                }
                
                // 선이 그려지고 있는 상태일 때 지도를 클릭하면 호출하여 
                // 클릭 지점에 대한 정보 (동그라미와 클릭 지점까지의 총거리)를 표출하는 함수입니다
                function displayCircleDot(position, distance) {
                
                    // 클릭 지점을 표시할 빨간 동그라미 커스텀오버레이를 생성합니다
                    var circleOverlay = new kakao.maps.CustomOverlay({
                        content: '<span class="dot"></span>',
                        position: position,
                        zIndex: 1
                    });
                
                    // 지도에 표시합니다
                    circleOverlay.setMap(map);
                
                    if (distance > 0) {
                        // 클릭한 지점까지의 그려진 선의 총 거리를 표시할 커스텀 오버레이를 생성합니다
                        var distanceOverlay = new kakao.maps.CustomOverlay({
                            content: '<div class="dotOverlay">거리 <span class="number">' + distance + '</span>m</div>',
                            position: position,
                            yAnchor: 1,
                            zIndex: 2
                        });
                
                        // 지도에 표시합니다
                        distanceOverlay.setMap(map);
                    }
                
                    // 배열에 추가합니다
                    dots.push({circle:circleOverlay, distance: distanceOverlay});
                }
                
                // 클릭 지점에 대한 정보 (동그라미와 클릭 지점까지의 총거리)를 지도에서 모두 제거하는 함수입니다
                function deleteCircleDot() {
                    var i;
                
                    for ( i = 0; i < dots.length; i++ ){
                        if (dots[i].circle) { 
                            dots[i].circle.setMap(null);
                        }
                
                        if (dots[i].distance) {
                            dots[i].distance.setMap(null);
                        }
                    }
                
                    dots = [];
                }
                
                // 마우스 우클릭 하여 선 그리기가 종료됐을 때 호출하여 
                // 그려진 선의 총거리 정보와 거리에 대한 도보, 자전거 시간을 계산하여
                // HTML Content를 만들어 리턴하는 함수입니다
                function getTimeHTML(distance) {
                
                    // 도보의 시속은 평균 4km/h 이고 도보의 분속은 67m/min입니다
                    var walkkTime = distance / 67 | 0;
                    var walkHour = '', walkMin = '';
                
                    // 계산한 도보 시간이 60분 보다 크면 시간으로 표시합니다
                    if (walkkTime > 60) {
                        walkHour = '<span class="number">' + Math.floor(walkkTime / 60) + '</span>시간 '
                    }
                    walkMin = '<span class="number">' + walkkTime % 60 + '</span>분'
                
                    // 자전거의 평균 시속은 16km/h 이고 이것을 기준으로 자전거의 분속은 267m/min입니다
                    var bycicleTime = distance / 227 | 0;
                    var bycicleHour = '', bycicleMin = '';
                
                    // 계산한 자전거 시간이 60분 보다 크면 시간으로 표출합니다
                    if (bycicleTime > 60) {
                        bycicleHour = '<span class="number">' + Math.floor(bycicleTime / 60) + '</span>시간 '
                    }
                    bycicleMin = '<span class="number">' + bycicleTime % 60 + '</span>분'
                
                    // 거리와 도보 시간, 자전거 시간을 가지고 HTML Content를 만들어 리턴합니다
                    var content = '<ul class="dotOverlay distanceInfo">';
                    content += '    <li>';
                    content += '        <span class="label">총거리</span><span class="number">' + distance + '</span>m';
                    content += '    </li>';
                    content += '    <li>';
                    content += '        <span class="label">도보</span>' + walkHour + walkMin;
                    content += '    </li>';
                    content += '    <li>';
                    content += '        <span class="label">자전거</span>' + bycicleHour + bycicleMin;
                    content += '    </li>';
                    content += '</ul>'
                
                    return content;
                }
                    
                </script>
        </div>

        <!--footer-->
        <div class="grid-footer">
            <img class="likelion" src="/static/img/basiclogo_E_H_W.png" width="110">
            <li>HERETHON 2020 사자에5</li>
        </div>
    </body>

</html>